<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Phone Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../../../resources/css/style.css" th:href="@{/resources/css/style.css}" />
    <link rel="stylesheet" href="../../../resources/css/normalize.css" th:href="@{/resources/css/normalize.css}" />
</head>

<body>
    <div th:replace="headernavigation :: header">Header</div>
    <div th:replace="headernavigation :: navigation">Menu</div>
    <!--MAIN-->
        <main>
            <div class="container">
                <h2 class="collection-title">Phone Book <small>All your contacts </small></h2>
                <div th:if="${showuser != null}">
                 <div class="collections">
                    <div  th:each="contact, iterationStatus : ${showuser.contacts}" class="collection-item-outer">
                        <!--CONTACT VIEW-->
                            <div th:replace="contactviews :: contactitem">Contact</div>
                        <!--/CONTACT VIEW-->
                    </div>
                </div>
            </div>
          </div>
        </main>
    <!--MAIN-->

    <!--FOOTER-->
        <div th:replace="headernavigation :: footer">Footer</div>
    <!--/FOOTER-->
</body>
</html>